<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exchange rate table</title>
</head>
<body>
<div class="container text-center" th:switch="${exchangeRateList}">
    <table class="table table-bordered text-center">
        <thead class="thead-dark text-center">
        <tr>
            <th>Currency</th>
            <th>Correlation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exchangeRate : ${exchangeRateList}">
            <td th:text="${exchangeRate.getCurrency()}"></td>
            <td th:text="${exchangeRate.getCorrelation()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>